body{
    background-color: rgb(222, 230, 230);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}
#pfp{
    position: relative;
    border-radius: 100%;
    height: 100%;
}
#name{
    font-size: 350%;
    text-align: right;
}
.container{
    margin: 3% 7% 3% 7%;
    height: 75vh;
    display:flex;
}
.element{
    margin:auto;
    width:49%;
}
.right{
    text-align: right;
}
.space{
    width: 2%;
}
.left{
    text-align: left;
}