body{
    background-color: rgb(222, 230, 230);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}
header#Main{
    background-color: gray;
}
.container{
    margin: 3% 7% 3% 7%;
    height: 75vh;
    width: 86%;
    display:flex;
}
.element{
    width:49%;
}
.space{
    width: 2%;
}
.element.right{
    text-align: right;
    margin:auto;
}
.element.left{
    text-align: left;
}
#pfp{
    position: relative;
    border-radius: 100%;
    height: 90%;
    margin-top:5%;
    margin-bottom:5%;
}
#name{
    font-size: 350%;
    text-align: right;
}
nav{
    height: 5vh;
    text-align: center;
}
.content{
    margin: auto;
    text-align: center;
}
#projects{
    margin: auto;
    border-spacing: 10px;
}
#projects td{
    width: 20vw;
    height: 30vh;
}
#projects img{
    display: block;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#projects a{
    height: 0%;
}