*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(222, 230, 230);
}
header#Main{
    background-color: gray;
    margin-bottom: 3%;
}
.container{
    margin: 0% 7% 0% 7%;
    padding: 1% 0% 1% 0%;
    height: 75vh;
    width: 86%;
    display:flex;
}
.element{
    width:48%;
}
.space{
    width: 4%;
}
.element.right{
    text-align: right;
    margin:auto;
}
.element.left{
    text-align: left;
}
#pfp{
    border-radius: 100%;
    height: 90%;
    margin-top:5%;
    margin-bottom:5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease-in-out;
}
#pfp:hover{
    border-radius: 10%;
    height: 90%;
    margin-top:5%;
    margin-bottom:5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
}
#name{
    font-size: 350%;
    text-align: right;
}
.content{
    margin: 0% 15%;
    text-align: center;
}
#projects{
    margin: 2% 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project{
    width: 30%;
    height: 30vh;
    margin:1% 0%;
}
.project img{
    background-color: maroon;
    display: blockgit;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
	position: relative;
    z-index:0;
    transform:scale(1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease-in-out;
}
.project img:hover{
    z-index:10;
    transform:scale(1.3);
    transition: all 0.2s ease-in-out;
}
#mainNav{
    background-color: lavender;
    padding:0.5vh 15% 0.5vh 15%;
    width: 70%;
    display: table;
    border-spacing:10px;
    table-layout: fixed;
}
.cell{
    display: table-cell;
    text-align: center;
}
#mainNav a{
    text-decoration: none;
    padding: 1.5vh 0 1.5vh 0;
    color:black;
    font-size: 140%;
    background: red;
    -webkit-box-shadow: inset 0 0 8 0px 70px lavender;
    box-shadow: inset 0 0 80px 70px lavender;
}
#mainNav a:hover{
    background-color: rgba(100,100,100,1);
    -webkit-box-shadow: inset 0 0 40px 20px rgba(0,0,0,0);
    box-shadow: inset 0 0 40px 20px rgba(0,0,0,0);
}
#first-game{
    float:left;
}